#userform{
    display: none;
}
.container{
    border-style: solid grey;
    background-color: burlywood;
}
.imagebox{
    margin-right: 30px;
    background-color: blueviolet;
    
}
.image img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
}
.second{
margin-top: 0px;
margin-left: 30px;
width: 50%;
padding: 30px; 
font-family: cursive;
font-size: large;
color: purple;
font-weight: 700;
}

.field{
    font-weight: bolder;
    font-size: x-large;
    margin-right: 20px;
    color: black;
}

